.navigationBar{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
body{
  background-color: rgb(53, 159, 195);
}
.navitem{
  margin-left: 1rem;
  margin-right: 1rem;
  padding:1rem;
  border-radius: 0.5rem;
  background-color: aquamarine;
  text-decoration: none;
}

.navitem:hover{
  background-color: rgb(91, 198, 162);
}

.watertitle{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;

}
body{
  background-image: url("./ocean.jpg");
}
.about{
  text-align: center;
  color: white;
  padding: 5rem; 
  margin-top: 2rem;
  background-color: rgba(244,44,57,0.7);
}

.background{
  text-align: center;
  background-color: rgba(167, 96, 217, 0.7);
}

.fade-in{
  animation: fadeIn 2s;
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}